<div>
  <div>
    <h1>
      <%= @current_user.username %>'s Product List
    </h1>
  </div>
</div>

    <form action="/insert_favorite" method="post">

        <input type="hidden" id="user_id_box" name="query_user_id">

        <input type="hidden" id="product_id_box" name="query_product_id">

    </form>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Product
        </th>

        <th>
          Image
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_favorites.each do |a_favorite| %>
      <tr>
        <td>
          <%= a_favorite.id %>
        </td>

        <td>
          <%= a_favorite.product.product_name %>
        </td>

        <td>
          <img src="<%= a_favorite.product.image %>" class="img-responsive">
        </td>        

        <td>
          <%= time_ago_in_words(a_favorite.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_favorite.updated_at) %> ago
        </td>

        <td>
          <a href="/products/<%= a_favorite.product_id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
