<style>
 .form-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    text-align:center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

  .form-horizontal div {
    display: flex;
    flex-direction: column;
  }

  .form-horizontal label {
    margin-bottom: 5px;
  }

  .cool-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
  }

  .cool-button:hover {
    background-color: #45a049;
  }

.titlex {
  text-align: center;
  font-size: 2rem;
  font-family: "Cool Font", Arial, sans-serif;
  color: #333; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
}

.subtitlex {
  text-align: left;
  font-size: 1.5rem;
  font-family: "Cool Font", Arial, sans-serif;
  color: #666;
    text-decoration: underline;
     }

.centered-table {
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center; /* Center align table content */
  }

  .centered-table th,
  .centered-table td {
    padding: 10px;
  }

  .centered-table th {
    background-color: #da291c; /* Set background color to red */
    color: white; /* Set text color to white */
    font-weight: bold;
  }

  .centered-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .centered-table tr:hover {
    background-color: #e6e6e6;
  }

  .underline-text {
  text-decoration: underline;
}

    .notice {
      padding: 20px;
      background-color: #dff0d8;
      color: #3c763d;
      border: 1px solid #d6e9c6;
      border-radius: 5px;
      margin-bottom: 20px;
    }

    .alert {
      padding: 20px;
      background-color: #f2dede;
      color: #a94442;
      border: 1px solid #ebccd1;
      border-radius: 5px;
      margin-bottom: 20px;}

</style>

<% if notice.present? %>
  <div class="notice">
    <%= notice %>
  </div>
<% end %>

<% if alert.present? %>
  <div class="alert">
    <%= alert %>
  </div>
<% end %>

<div>
  <div>
    <h2 class="subtitlex">
      Add a New Product
    </h2>

    <form action="/insert_product" method="post" class="form-horizontal" enctype="multipart/form-data">
      <div>
        <label for="product_name_box" class="underline-text">
          Product name
        </label>
        <input type="text" id="product_name_box" name="query_product_name">
      </div>

      <div>
        <label for="description_box" class="underline-text">
          Description
        </label>
        <input type="text" id="description_box" name="query_description">
      </div>

      <div>
        <label for="price_box" class="underline-text">
          Price
        </label>
        <input type="text" id="price_box" name="query_price">
      </div>

      <div>
        <label for="image_box" class="underline-text">
          Image
        </label>
        <input type="file" id="image" name="image" class="form-control">
      </div>

      <button class="cool-button">
        Create product
      </button>
    </form>
  </div>
</div>

<hr>

<div>
  <div>
    <h1 class="titlex">
      List of All Products
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <table class="centered-table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Product name
        </th>

        <th>
          Description
        </th>    

        <th>
          Price
        </th>

        <th>
          Average rating
        </th>

        <th>
          Image
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_products.each do |a_product| %>
      <tr>
        <td>
          <%= a_product.id %>
        </td>

        <td>
          <%= a_product.product_name %>
        </td>

        <td>
          <%= a_product.description %>
        </td>    

        <td>
          <%= a_product.price %>
        </td>

        <td>
          <%= a_product.average_rating %>
        </td>

        <td>
          <img src="<%= a_product.image %>" class="img-responsive">
        </td>

        <td>
          <%= time_ago_in_words(a_product.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_product.updated_at) %> ago
        </td>

        <td>
          <a href="/products/<%= a_product.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
