<div>
  <div>
    <h1>
        <%= @the_product.product_name %>
    </h1>

    <div>
      <div>
        <a href="/products">
          Go back
        </a>
      </div>

  <% if session.fetch(:user_id) == @the_product.owner_id %>
  
      <div>
        <a href="/delete_product/<%= @the_product.id %>">
          Delete product
        </a>
      </div>
    </div>

    <% end %>

    <dl>
      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @the_product.image %>" class="img-responsive">
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_product.description %>
      </dd>

      <dt>
        Product Category
      </dt>
      <dd>
        <%= @the_product.product_category %>
      </dd>      

      <dt>
        Price
      </dt>
      <dd>
        <%= @the_product.price %>
      </dd>

      <dt>
        Average rating
      </dt>
      <dd>
        <%= @the_product.average_rating %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_product.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_product.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<form action="/add_favorite" method="post">
  <label for="browser_product_id">Product</label>
  <input id="browser_product_id" type="hidden" value="<%= @the_product.id %>" name="query_product_id">

      <button>Add to my list</button>
  </form>

<hr>

    <% if session.fetch(:user_id) == @the_product.owner_id %>

<div>
  <div>
    <h2>
      Edit product
    </h2>

    <form action="/modify_product/<%= @the_product.id %>"  method="post" class="form-horizontal" enctype="multipart/form-data" >
      <div>
        <label for="product_name_box">
          Product name
        </label>

        <input type="text" id="product_name_box" name="query_product_name" value="<%= @the_product.product_name %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_product.description %>">
      </div>

      <div>
        <label for="product_category_box">
          Product Category
        </label>

        <select  id="product_category_box" name="query_product_category">
            <option value="Bakery">Bakery</option>
            <option value="Cheese, Dairy, and Eggs">Cheese, Dairy, and Eggs</option>
            <option value="Dips, Sauces & Dressings">Dips, Sauces & Dressings</option>
            <option value="From the Freezer">From the Freezer</option>
            <option value="Fresh Fruits & Veggies">Fresh Fruits & Veggies</option>
            <option value="Meat, Seafood, and Plant-based products">Meat, Seafood, and Plant-based products</option>
            <option value="For the Pantry">For the Pantry</option>
            <option value="Snacks & Sweets">Snacks & Sweets</option>
            <option value="Beverages">Beverages</option>
            <option value="Everything Else">Everything Else</option>
        </select>
      </div>      

      <div>
        <label for="price_box">
          Price
        </label>

        <input type="text" id="price_box" name="query_price" value="<%= @the_product.price %>">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="file" id="image" name="image" class="form-control">
      </div>

      <button>
        Update product
      </button>
    </form>
  </div>
</div>

<hr>

  <% end %>

  
<h3>Rate this product</h3>

<form action="/insert_rating" method="post">
  <label for="browser_product_id">Product</label>
  <input id="browser_product_id" type="hidden" value="<%= @the_product.id %>" name="input_rating_id">

  <label for="browser_rating">Rating</label>

    <select name="rating" id="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>

  <button>Add rating</button>
</form>

<div> 
Average Rating: 

<%= @the_product.ratings.first %>


</div>

<hr>

<h3>Add a new comment</h3>

<form action="/insert_comment" method="post">
  <label for="browser_product_id">Product</label>
  <input id="browser_product_id" type="hidden" value="<%= @the_product.id %>" name="input_comment_id">

  <label for="browser_comment">Comment</label>
  <textarea id="browser_comment" name="input_body" placeholder="Enter a comment..."></textarea>

  <button>Add comment</button>
</form>

<h3>List of all Comments</h3>

  <div>
    <table border="1">
      <tr>
        <th>
          Comment ID
        </th>

        <th>
          Username
        </th>

        <th>
          Comment
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

      </tr>

      <% @the_product.comments.each do |a_comment| %>
      <tr>
        <td>
          <%= a_comment.id %>
        </td>

        <td>
          <%= a_comment.commenter.username %>
        </td>

        <td>
          <%= a_comment.body %>
        </td>

        <td>
          <%= time_ago_in_words(a_comment.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_comment.updated_at) %> ago
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
