<div>
  <div>
    <h1>
      Product #<%= @the_product.id %> details
    </h1>

    <div>
      <div>
        <a href="/products">
          Go back
        </a>
      </div>

  <%# if session.fetch(:user_id) == @the_product.poster.id %>
  
      <div>
        <a href="/delete_product/<%= @the_product.id %>">
          Delete product
        </a>
      </div>
    </div>

    <%# end %>

    <dl>
      <dt>
        Product name
      </dt>
      <dd>
        <%= @the_product.product_name %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_product.description %>
      </dd>

      <dt>
        Price
      </dt>
      <dd>
        <%= @the_product.price %>
      </dd>

      <dt>
        Average rating
      </dt>
      <dd>
        <%= @the_product.average_rating %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <%= @the_product.image %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_product.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_product.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<form action="/add_favorite" method="post">
  <label for="browser_product_id">Product</label>
  <input id="browser_product_id" type="hidden" value="<%= @the_product.id %>" name="query_product_id">

      <button>Add to my list</button>
  </form>

<hr>

  <%# if session.fetch(:user_id) == @the_product.user_id %>

<div>
  <div>
    <h2>
      Edit product
    </h2>

    <form action="/modify_product/<%= @the_product.id %>"  method="post" >
      <div>
        <label for="product_name_box">
          Product name
        </label>

        <input type="text" id="product_name_box" name="query_product_name" value="<%= @the_product.product_name %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_product.description %>">
      </div>

      <div>
        <label for="price_box">
          Price
        </label>

        <input type="text" id="price_box" name="query_price" value="<%= @the_product.price %>">
      </div>

      <div>
        <label for="average_rating_box">
          Average rating
        </label>

        <input type="text" id="average_rating_box" name="query_average_rating" value="<%= @the_product.average_rating %>">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_product.image %>">
      </div>

      <button>
        Update product
      </button>
    </form>
  </div>
</div>

<hr>

  <%# end %>

  
<h3>Rate this product</h3>

<form action="/insert_rating" method="post">
  <label for="browser_product_id">Product</label>
  <input id="browser_product_id" type="hidden" value="<%= @the_product.id %>" name="input_rating_id">

  <label for="browser_rating">Rating</label>
  <textarea id="browser_rating" name="input_body" placeholder="Enter a rating..."></textarea>

  <button>Add rating</button>
</form>


<h3>Add a new comment</h3>

<form action="/insert_comment" method="post">
  <label for="browser_product_id">Product</label>
  <input id="browser_product_id" type="hidden" value="<%= @the_product.id %>" name="input_comment_id">

  <label for="browser_comment">Comment</label>
  <textarea id="browser_comment" name="input_body" placeholder="Enter a comment..."></textarea>

  <button>Add comment</button>
</form>
